<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.epam.movierating.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>by.epam.movierating.controller.filter.CharsetFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <listener>
        <listener-class>by.epam.movierating.controller.listener.ConnectionPoolListener</listener-class>
    </listener>
    
    <welcome-file-list>
        <welcome-file>Controller</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <location>/Controller?command=error</location>
    </error-page>
</web-app>