.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.nav li form{
    margin: 0;
}
.nav li form a{
    color: #777;
    padding: 10px 15px;
    line-height: 20px;
    position: relative;
    display: block;
    text-decoration: none;
}
.nav .active form a{
    color: #555;
    background-color: #e7e7e7;
}
@media screen and (min-width: 768px){
    .nav li form a{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.jumbotron img{
    float: left;
    width: 200px;
    height: auto;
    margin: 0 10px 10px 0;
}
.jumbotron img.img-circle{
    height: 200px;
}
.jumbotron > .nav-tabs{
    padding-left: 5px;
    margin-bottom: 10px;
}
.jumbotron ul{
    list-style: none;
    padding-left: 0;
    clear: both;
}
.jumbotron .well ul{
    clear: none;
}
@media screen and (min-width: 500px){
    .jumbotron ul{
        clear: none;
        padding-left: 220px;
    }
}
.jumbotron ul li .comma::after{
    content: ',';
}
.jumbotron ul li :last-child::after{
    content: '';
}
.jumbotron p{
    font-size: 16px;
}
#star-rating .glyphicon{
    font-size: 20px;
}
@media screen and (min-width: 500px){
    #star-rating .glyphicon{
        font-size: 30px;
    }
}
.well{
    padding: 8px;
}
@media screen and (min-width: 767px){
    .well{
        padding: 19px;
    }
}
.well a img{
    float: left;
    width: 100px;
    height: auto;
    margin: 0 10px 10px 0;
}
.well a img.img-circle{
    height: 100px;
}
.well h3{
    font-size: 18px;
    margin-top: 0;
}
.well ul{
    list-style: none;
    padding-left: 110px;
}
.well ul li a::after{
    content: ',';
}
.well ul li :last-child::after{
    content: '';
}
.modal form{
    display: inline;
}
footer{
    background-color: #f8f8f8;
    border-radius: 4px;
    min-height: 50px;
    border: 1px solid #e7e7e7;
}
footer p{
    margin-top: 10px;
}